<div style="color:#313131;margin: 0 auto;padding: 15px;margin-top: 10px;margin: 0 auto;text-align: center;padding-top: 10px;">

    <div id="page-heading"><div style="display:inline-block;border:1px solid #D0D1D5;margin-bottom: 20px;"><div class="hidden-xs title-head-search" style="display: inline-block;height: 103px;width: 73px;vertical-align: middle;padding: 20px;"><span class="glyphicon glyphicon-link" style="color:#fff;vertical-align: bottom;font-size: 20px;top: 18px;"></span></div><h1 style="font-size:30px;margin: 0px;display:inline-block;padding: 20px;vertical-align: bottom;" class="text-head-search">{$sTitreForm}</h1></div></div>

    <form  method="POST" action="">
        <input type="hidden" name="validation" value="ok">
        <input type="hidden" name="route" value="{$route}">
    <div style="display: inline-block;background-color: #fff;padding: 15px;border: 1px solid #D0D1D5;">
<table border="0" cellpadding="0" cellspacing="0" id="id-form" style="margin: 0 auto;padding:20px;background-color:#fff;" class="table table-condensed table-hover">
    <tbody>
        <tr>
            <td>
                <div class="formaff">
                    {$description}
                </div>
                <div class="formmodif" style="display:none">
                <textarea
                            id="id_contenu"
                            name="contenu"
                            class="ckeditor"
                            cols="30"
                            rows="40">{$description}
                    </textarea>
                </div>

            </td>
            <td>
                <b>Historique</b>
            </td>
        </tr>
    <tr>
        <td align="cente">
            <div class="formmodif"><button type="submit" style="display:none">Valider</button></div><br>
            <div class="formaff"><button type="button" >Modifier</button></div><br>
            <div class=""><button type="button" onclick="location.replace('{$route}')">Retour</button></div>
        </td>
    </tr>
    </tbody>
</table>
</form>
</div>
</div>