<div class="container">

   {* <p class="bg-primary">primary</p>
    <p class="bg-success">success</p>
    <p class="bg-info">info</p>
    <p class="bg-warning">warning</p>
    <p class="bg-danger">erreur</p>
*}

    {foreach from=$aResult item=objResult}
        <p class="{$objResult.keys}" style="padding: 10px;">{$objResult.contenu}</p>
    {/foreach}


</div>
