<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="btn-group pull-right" >
				<a class="btn dropdown-toggle" href="index.php?page=login&action=deconnexion">
					<i class="icon-off">
					</i>
					<span class="hidden-phone">Déconnexion</span>
				</a>
			</div>
			<a class="brand" href="./" style="width:auto;float:none;">
				<span style="font-family:Verdana;float:none;">{$titre_site} - {$client.nom}</span>
			</a>
		</div>
	</div>
</div>